.profile {
  padding: 42px 0 36px;
  color: var(--color-light);
  font-family: Inter, Arial, sans-serif;
}

@media screen and (min-width: 600px) {
  .profile {
    padding: 40px 19px 50px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
}
