.form__submit {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 17px;
  color: var(--color-light);
  padding: 13px 0;
  transition: all .3s ease-in-out;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.form__submit:hover {
  background-color: rgba(0, 0, 0, .8);
  border-color: rgba(0, 0, 0, .8);
}

@media screen and (min-width: 960px) {
  .form__submit {
    font-size: 18px;
    line-height: 22px;
  }
}
