.popup__btn-save {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 17px;
  color: var(--color-light);
  padding: 14px 0;
  transition: background-color .3s ease-in-out;
}

.popup__btn-save:hover {
  background-color: rgba(0, 0, 0, .8);;
}

@media screen and (min-width: 960px) {
  .popup__btn-save {
    font-size: 18px;
    line-height: 22px;
  }
}
